/*
body {
    background-color: cadetblue;    
}
*/

/* Side-panel sections styling rules */
.UISection {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

.UISectionTitle {
    border: solid;
    background-color: rgb(102, 120, 146);
    padding: 3px;
}

.UISectionTitle:hover {
    background-color: rgb(213, 227, 247);
    cursor: pointer;
}

.UISectionTitle h2 {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.UISectionControls {
    padding: 0px 5px 0px 5px;
    background-color: rgb(145, 160, 175);
    display: none;
}

.UISubSection {
    margin: 5px 0px 20px 0px;
    padding: 5px 3px 5px 3px;
    background-color: rgb(165, 175, 200);
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Options inside a UI section styling */
.options {
    display: flex;
    flex-direction: column;
}

.options h4{
    margin: 0px;
    margin-bottom: 3px;
}


/* Debug details box styling rules */
#details {
    position: absolute;
    display: flex;
    gap: 20px;
    margin: 5px;
    padding: 5px;
    background-color: #77777777;
    border: 3px dotted gray;
}

#details:hover {
    cursor: pointer;
    background-color: #99999999;
    border: 3px double aqua;
}


/* Switch styling rules */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 23px;
    border: solid 3px darkslategray;
  }

.switch:hover {
    border: double 3px aqua;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .sliderSwitch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderSwitch:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderSwitch {
    background-color: #2196F3;
  }
  
  input:focus + .sliderSwitch {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderSwitch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

/* .lightControl{
    padding: 3px;
    border-style: groove;
}

.lightingControlPanel{
    display: flex;
    flex-direction: column;
    gap: 1px; 
    border-style: ridge;
    padding: 3px;
    width: fit-content;        
}

.lightingLabel{    
    padding-left: 10px;    
} */